body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin-bottom: 5%;
}

form input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="email"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


form select {
    width: 90%;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #fd0283e4;
    color: #fff;
    cursor: pointer;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fd0283e4;
    width: 50%;
    
}
